<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MWHI Project</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header class="banner">
    <h1>MWHI Project</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/blueprints">Blueprints</a>
        <a href="/order-board">Order Board</a>
    </nav>
</header>

<form action="/process-order-creation" method="POST">
    <input type="text" name="order-item" maxlength="50" placeholder="Enter Item name" required>
    <input type="number" name="order-quantity" min="1" step="1" placeholder="Enter Quantity" required>
    <input type="number" name="order-price" min="0" inputmode="decimal" step="any" placeholder="Enter Price" required>
    <input type="text" name="order-location" maxlength="50" placeholder="Enter Location" required>
    <input type="text" name="order-contract-to" maxlength="50" placeholder="Contract To" required>
    <button type="submit">Create Order</button>
</form>

{{if .InvalidTypeError}}
<h3 class="create-order-error">Invalid Item Type, please try again.</h3>
{{end}}

</body>
</html>
