<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MWHI Project</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header class="banner">
    <h1>MWHI Project</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/blueprints">Blueprints</a>
        <a href="/order-board">Order Board</a>
    </nav>
</header>

<p>Welcome!</p>

{{if .LoggedIn}}
<span>Logged in as {{.CharacterName}}</span>

<h3>Order Management</h3>
<table>
    <tr><th>Order ID</th><th>Item</th><th>Quantity</th><th>Price</th><th>Location</th><th>Contract To</th><th>Fulfilled</th><th>Manage</th></tr>
    {{range .Orders}}
    <tr>
        <td>{{.InternalIdCounter}}</td>
        <td>{{.TypeName}}</td>
        <td>{{commaInt .Quantity}}</td>
        <td>{{commaFloat .Price}} ISK</td>
        <td>{{.Location}}</td>
        <td>{{.ContractTo}}</td>
        <td>{{.Fulfilled}}</td>
        {{if not .Fulfilled}}
        <td><a class="manage-order" href="/manage-order?id={{.InternalIdCounter}}">Manage Order</a></td>
        {{end}}
    </tr>
    {{end}}
</table>

<h3>Fulfilled Orders Pending Verification</h3>
<table>
    <tr><th>Order ID</th><th>Item</th><th>Quantity</th><th>Price</th><th>Location</th><th>Contract To</th><th>Fulfilled</th><th>Verify</th></tr>
    {{range .Orders}}
    <tr>
        <td>{{.InternalIdCounter}}</td>
        <td>{{.TypeName}}</td>
        <td>{{commaInt .Quantity}}</td>
        <td>{{commaFloat .Price}} ISK</td>
        <td>{{.Location}}</td>
        <td>{{.ContractTo}}</td>
        <td>{{.Fulfilled}}</td>
        {{if not .Fulfilled}}
        <td><button class="confirm-fulfilled">Confirm Fulfilled</button></td>
        {{end}}
    </tr>
    {{end}}
</table>


{{end}}
</body>
</html>
